<nav  class="navbar navbar-light   bg-light"> <!-- nav cria a linha em cima e essas class são padrão para estilizar. navbar-light é a cor do texto, bg é o fundo-->
    <a class= "navbar-brand" href="/"> <!-- esse é para posicionar a esquerda-->
        <img src="/img/logo2.png" id="logo">
    </a>
</nav>